form#newEventTeamForm.p-0.m-0((ngSubmit)='onSubmit()')
  .d-flex
    .mx-1
      input.form-control(
        type='text',
        placeholder='####',
        [(ngModel)]="newTeam.teamNumber",
        [ngModelOptions]="{standalone: true}",
        size='6'
      )
    .flex-grow-1.mx-1
      input.form-control(
        type='text',
        [(ngModel)]="newTeam.teamName",
        [ngModelOptions]="{standalone: true}",
        placeholder='Add Team Name'
      )
    .mx-1
      button.btn.btn-primary(
        [disabled]="(newTeam.teamNumber == '' && newTeam.teamName == '')",
        type='submit'
      ) Create Team
